<div class="container">
	<form class="form-horizontal" role="form">
		<div class="col-md-12">
			<div id="my-calendar"></div>
		</div>
		<div class="col-md-12">
			<hr>
		</div>		
		<div class="row" >
			<div class="col-md-6">
				<label>
					待ち合わせ時間と場所
				</label>
			</div>
			<div class="col-md-3">
				<label>
					仕事内容
				</label>
			</div>
			<div class="col-md-3">
				<label>
					募集状態
				</label>
			</div>
		</div>
		<div class="list-group" >
			<a href="#/{{partUrl}}/{{job.id}}" ng-repeat="job in jobs" class="list-group-item">
				<div class="row">
					<div class="col-md-6">
						<div class="col-md-4">
							{{job.dateString}}
						</div>
						<div class="col-md-2">
							{{job.timeString}}
						</div>
						<div class="col-md-4">
							{{job.address}}
						</div>
					</div>
					<div class="col-md-3">
						{{job.course}}
					</div>
					<div class="col-md-3">
						{{job.status}}
					</div>
				</div>
			</a>
		</div>
	</form>
</div>