<div class="container" style="background:#fff">
	<div class="row">
		<div class="col-md-12">
			<a href="" ng-click="goBack()">戻す</a>
		</div>
		<div class="col-md-12">
			<div class="form-group" style="text-align:center">
				<span>Weinanさんへの評判</span>				
			</div>
		</div>
		<div class="col-md-1 col-md-offset-4">
			<div class="form-group">
				<a href="" ng-click="filterComment('all')">全て</a>
			</div>
		</div>
		<div class="col-md-1">
			<div class="form-group">
				<a href="" ng-click="filterComment('good')">良い</a>
			</div>
		</div>
		<div class="col-md-1">
			<div class="form-group">
				<a href="" ng-click="filterComment('notBad')">悪くない</a>
			</div>
		</div>
		<div class="col-md-1">
			<div class="form-group">
				<a href="" ng-click="filterComment('bad')">良くない</a>
			</div>
		</div>
	</div>
	<hr>
	<div class="row" ng-if="comments.length>0">
		  <div class="list-group" >
    
		<div ng-repeat="comment in comments" class="list-group-item">
				<div class="form-group">
					{{comment.comment}}
					<br >
					<br >
					<span class="pull-right">{{comment.from}}さん</span>
				</div>
		</div>
		</div>
	</div>
	<div class="row" ng-if="comments.length===0">
		評判なし
	</div>
</div>