<div class="container">
  <form class="form-horizontal" role="form">      
    <div class="row" >     
    	<div class="col-md-6">
    		<div class="form-group">
          <label class="col-md-4 control-label">待ち合わせ時間</label>
          <div class="col-md-4">
            <input type="date" ng-model="condition.fromDate" class="form-control" placeholder="请输入时间" >
          </div>
          <div class="col-md-4">
            <input type="date" ng-model="condition.toDate" class="form-control" placeholder="请输入时间" >
          </div>
        </div>
      </div>
    	<div class="col-md-3">
        <input type="checkbox" ng-model="condition.morning">
        午前
        </input>
        <input type="checkbox" ng-model="condition.afternoon">
        午後
        </input>
        <input type="checkbox" ng-model="condition.evening">
        夜
        </input>
    	</div>
    	<div class="col-md-3">
        <input type="checkbox" ng-model="condition.personAuth">
    		募集者に身元認証が必要
        </input>
    	</div>
    </div>
    <div class="row">
    	<div class="col-md-6">
        <div class="form-group">
          <label class="col-md-4 control-label">待ち合わせ場所</label>
          <div class="col-md-8">
            <div class="row">
              <div class="col-md-4">
                <select ng-model="condition.distict" class="form-control" ng-options="x.id as x.name for x in disticts"></select>                     
              </div>
            </div>
          </div>
        </div>
    	</div>
    	<div class="col-md-3">
        <div class="form-group">
          <div class="row">
            <label class="col-md-3 control-label">時給</label>
            <div class="col-md-4">
              <input type="number" ng-model="condition.larger" class="form-control" min="0"placeholder="大于">
            </div>
            <div class="col-md-4">
              <input type="number" ng-model="condition.smaller" class="form-control" min="0"placeholder="小于">
            </div>
          </div>
        </div>
    	</div>
    	<div class="col-md-2">
        <button type="button" ng-click="search()" class="btn btn-primary">検索</button>	
        <button type="button" ng-click="reset()" class="btn btn-primary">リセット</button>	
    	</div>
      <div class="col-md-2">
           
      </div>
    </div>
  </form>
  <hr>
  <div class="row" >
    <div class="col-md-6">
      <label>
        待ち合わせ時間と場所
      </label>
    </div>
    <div class="col-md-2">
      <label>
        仕事内容
      </label>
    </div>
    <div class="col-md-2">
      <label>
        時給
      </label>
    </div>
    <div class="col-md-2">
      <label>
        募集者
      </label>
    </div>
  </div>
  

  <div class="list-group" >
    <a href="#/jobs/{{job.id}}" ng-repeat="job in jobs" class="list-group-item">
      <div class="row">
        <div class="col-md-6">
          <div class="col-md-3">
            {{job.dateString}}
          </div>
          <div class="col-md-2">
            {{job.timeString}}
          </div>
          <div class="col-md-6">
            {{job.address}}
          </div>
        </div>
        <div class="col-md-2">
          {{job.course}}
        </div>
        <div class="col-md-2">
          {{job.moneyCh}}元
        </div>
        <div class="col-md-2">
          身元認証<span ng-if="job.personAuth" class="icon-check"></span><span ng-if="!job.personAuth" class="icon-check-empty"></span>
        </div>
      </div>
    </a>    
  </div>
</div>