<div class="container">
   <form class="form-horizontal" role="form">
      <div class="col-md-8 col-md-offset-2">
         <ul class="nav nav-pills" id="otherInfoTab">
            <li class="active"><a href="#time_line">時間</a></li>
            <li><a href="#complain">待ち合わせ所</a></li>
            <li><a href="#sms_send">募集内容</a></li>
            <li><a href="#order_path">募集者情報</a></li>
         </ul>
         
         <div class="tab-content">
            <div class="tab-pane active" id="time_line">
               <div class="panel panel-default" style="height:350px">
                  <div class="panel-body">
                     <div class="row" >
                        <div class="col-md-8">
                           <div class="form-group">
                              <label class="col-md-4 control-label">日付:</label>
                              <div class="col-md-8">
                                 <input type="text" ng-model="apply.dateString"class="form-control" placeholder="日期" disabled>
                              </div>
                           </div>
                           <div class="form-group">
                              <label class="col-md-4 control-label">時間:</label>
                              <div class="col-md-8">
                                 <input type="text" ng-model="apply.timeString" class="form-control" placeholder="请输入名字" disabled>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="tab-pane" id="complain">
               <div class="panel panel-default" style="height:350px">
                  <div class="panel-body">
                     <div class="row" >
                        <div class="col-md-8">
                           <div class="form-group">
                              <label class="col-md-4 control-label">都道府県</label>
                              <div class="col-md-8">
                                 <select ng-model="apply.distict" class="form-control" ng-options="x.id as x.name for x in disticts" disabled></select> 
                              </div>
                           </div>
                           <div class="form-group">
                              <label class="col-md-4 control-label">詳細</label>
                              <div class="col-md-8">
                                 <input type="text" ng-model="apply.address" class="form-control" placeholder="请输入名字" disabled>
                              </div>
                              <!-- <div class="col-md-8 col-md-offset-2" style="color:red">
                                 文字で表せないなら、特別な建物や道しるべを撮影し、アップロードしてもよい。
                              </div> -->
                           </div>
                           <!-- <div class="form-group">
                              <div class="col-md-4 col-md-offset-4" >
                                 <button type="button" ng-click="fileUpdate()" class="btn btn-primary btn-block">写真をアップロード</button>
                              </div>
                           </div> -->
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="tab-pane" id="sms_send">
               <div class="panel panel-default" style="height:350px">
                  <div class="panel-body">
                     <div class="row" >
                        <div class="col-md-8">
                           <div class="form-group">
                              <label class="col-md-4 control-label">内容</label>
                              <div class="col-md-8">
                                 <input type="text" class="form-control" ng-model="apply.course" placeholder="请输入教学内容" disabled>
                              </div>
                           </div>
                           <div class="form-group">
                              <label class="col-md-4 control-label">時給</label>
                              <div class="col-md-8">
                                 <input type="text" ng-model="apply.moneyCh" ng-change="ch2ja()" class="form-control" placeholder="参考额 150" disabled>
                                 <div style="text-align:center">約{{apply.moneyJa}}円</div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="tab-pane" id="order_path">
               <div class="panel panel-default" style="height:350px;overflow-y:scroll">
                  <div class="panel-body">
                     <div class="row" >
                        <div class="col-md-10">
                           <div class="form-group">
                              <label class="col-md-4 control-label">氏名</label>
                              <div class="col-md-8">
                                 <input type="text" ng-model="owner.name" class="form-control" disabled>
                              </div>
                           </div>
                           <div class="form-group">
                              <label class="col-md-4 control-label">電話番号</label>
                              <div class="col-md-8">
                                 <input type="text" ng-model="owner.tel" class="form-control" disabled>
                              </div>
                           </div>
                           <div class="form-group">
                              <label class="col-md-4 control-label">メール</label>
                              <div class="col-md-8">
                                 <input type="text" ng-model="owner.account" class="form-control" disabled>
                              </div>
                           </div>
                           <div class="form-group">
                              <label for="meetTime" class="col-md-4 control-label">中国語能力</label>
                              <div class="col-md-8">
                                 <input type="text" ng-model="owner.jpLevel" class="form-control" disabled>
                              </div>
                           </div>
                        </div>
                        <div class="col-md-2">
                           身元認証<span ng-if="job.personAuth" class="icon-check"></span><span ng-if="!job.personAuth" class="icon-check-empty"></span>
                        </div>
                        <div class="col-md-12">
                           <div class="panel panel-default" style="height:120px">
                              <div class="panel-heading">
                                 皆からの評判
                              </div>
                              <div class="panel-body">
                                 <div class="row" >
                                    <div class="col-md-4">
                                       <div class="form-group">
                                       「良い」数：{{types.good || 0}}
                                       </div>                                    
                                    </div>
                                    <div class="col-md-4">
                                       <div class="form-group">
                                       「悪くない」数：{{types.notBad || 0}}    
                                       </div>                                
                                    </div>
                                    <div class="col-md-4">
                                       <div class="form-group">
                                       「良くない」数：{{types.bad || 0}}
                                       </div>                                   
                                    </div>
                                    <div class="col-md-4 col-md-offset-4">
                                       <div class="form-group">
                                          <a href="#/comments" >詳しくはこちら</a>                                   
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>        
      </div>
      <div class="col-md-8 col-md-offset-2" ng-if="applyType==='success'">
         <div class="col-md-4">
            <div class="form-group">
               <span style="color:red">何か不明な所あるなら</span>
               <button type="button" data-toggle="modal" data-target="#chatModal" class="btn btn-primary btn-block" >募集者に問う</button>
            </div>
         </div>
         <div class="col-md-4 col-md-offset-4" ng-if="apply.status==='inProgress'">
            <div class="form-group">
               <span style="color:red">与陌生人接触时，注意保护自己</span>
               <button type="button" ng-click="applyJob()" class="btn btn-primary btn-block" >応募</button>
            </div>
         </div>
         <div class="col-md-4 col-md-offset-4" ng-if="apply.status==='succeed'">
         <div class="form-group">
            <button type="button" data-toggle="modal" data-target="#commentModal" class="btn btn-primary btn-block" >comment</button>
         </div>
      </div>
      </div>
      <div class="col-md-8 col-md-offset-2" ng-if="applyType==='no-login'">
         <div class="col-md-12">
            <div class="form-group">
               応募する前に<a href="#/login">ログイン</a> してください
            </div>
         </div>
      </div>
      <div class="col-md-8 col-md-offset-2" ng-if="applyType==='failure'">
         <div class="col-md-12">
            <div class="form-group">
               応募するには必要な認証
               <br>
              <input type="checkbox" ng-model="apply.personAuth" disabled>身元認証
              <input type="checkbox" ng-model="apply.ability" disabled>日本語能力認証<br>
              <a href="#/personInformation">認証手続きはこちら</a>
            </div>
         </div>
      </div>     
   </form>
</div>
<div style="position:fixed; top: 200px; left: 50%; margin-left: 580px; width: 40px; height: 40px;" >
   <a href="" ng-click="goBack()"><i class="icon-reply icon-2x"></i></a>
   <a href="" data-toggle="modal" data-target="#chatModal" ng-if="user.userType==='chinese'"><i class="icon-comments icon-2x"></i></a>
</div>

<div class="modal fade" id="chatModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Chat to {{apply.ownerName}}:</h4>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <textarea rows="4" ng-model="chatContent" style="width:100%" placeholder="全角5文字以上入力してください" />
          </textarea>                
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" ng-click="submitChat()">Submit</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="commentModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
   <div class="modal-dialog" role="document">
      <div class="modal-content">
         <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Enter your comment:</h4>
         </div>
         <div class="modal-body">
            <div class="form-group">
               <span style="color:red">评论</span>
               <input type="radio" ng-model="comment.type" value="good">好評
               <input type="radio" ng-model="comment.type" value="noBad">還行
               <input type="radio" ng-model="comment.type" value="bad">差評
            </div>
            
            <div class="form-group">
               <textarea rows="4" ng-model="comment.content" style="width:100%" placeholder="全角5文字以上入力してください" />
               </textarea>
            </div>
            <div class="modal-footer">
               <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
               <button type="button" class="btn btn-primary" ng-click="submitComment()">Submit</button>
            </div>
         </div>
      </div>
   </div>
</div>

