<div class="container">
   <form class="form-horizontal" role="form">
      <div class="col-md-8 col-md-offset-2">
         <ul class="nav nav-pills" id="otherInfoTab">
            <li class="active"><a href="#time_line">時間</a></li>
            <li><a href="#complain">待ち合わせ所</a></li>
            <li><a href="#sms_send">募集内容</a></li>
            <li><a href="#order_path">募集者情報</a></li>
         </ul>
         
         <div class="tab-content">
            <div class="tab-pane active" id="time_line">
               <div class="panel panel-default" style="height:350px">
                  <div class="panel-body">
                     <div class="row" >
                        <div class="col-md-8">
                           <div class="form-group">
                              <label class="col-md-4 control-label">日付:</label>
                              <div class="col-md-8">
                                 <input type="text" ng-model="apply.day"class="form-control" placeholder="日期">
                              </div>
                           </div>
                           <div class="form-group">
                              <label class="col-md-4 control-label">時間:</label>
                              <div class="col-md-8">
                                 <input type="text" ng-model="apply.time" class="form-control" placeholder="请输入名字">
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="tab-pane" id="complain">
               <div class="panel panel-default" style="height:350px">
                  <div class="panel-body">
                     <div class="row" >
                        <div class="col-md-8">
                           <div class="form-group">
                              <label class="col-md-4 control-label">都道府県</label>
                              <div class="col-md-8">
                                 <input type="text" ng-model="apply.place" class="form-control" placeholder="请输入名字">
                              </div>
                           </div>
                           <div class="form-group">
                              <label class="col-md-4 control-label">詳細</label>
                              <div class="col-md-8">
                                 <input type="text" ng-model="apply.detailPlace" class="form-control" placeholder="请输入名字">
                              </div>
                              <div class="col-md-8 col-md-offset-2" style="color:red">
                                 文字で表せないなら、特別な建物や道しるべを撮影し、アップロードしてもよい。
                              </div>
                           </div>
                           <div class="form-group">
                              <div class="col-md-4 col-md-offset-4" >
                                 <button type="button" ng-click="fileUpdate()" class="btn btn-primary btn-block">写真をアップロード</button>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="tab-pane" id="sms_send">
               <div class="panel panel-default" style="height:350px">
                  <div class="panel-body">
                     <div class="row" >
                        <div class="col-md-8">
                           <div class="form-group">
                              <label class="col-md-4 control-label">内容</label>
                              <div class="col-md-8">
                                 <input type="text" class="form-control" ng-model="apply.course" placeholder="请输入教学内容">
                              </div>
                           </div>
                           <div class="form-group">
                              <label class="col-md-4 control-label">時給</label>
                              <div class="col-md-8">
                                 <input type="text" ng-model="apply.moneyCh" ng-change="ch2ja()" class="form-control" placeholder="参考额 150">
                                 <div style="text-align:center">約{{!!apply.moneyJa?apply.moneyJa:' '}}円</div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="tab-pane" id="order_path">
               <div class="panel panel-default" style="height:350px">
                  <div class="panel-body">
                     <div class="row" >
                        <div class="col-md-10">
                           <div class="form-group">
                              <label class="col-md-4 control-label">氏名</label>
                              <div class="col-md-8">
                                 <input type="text" ng-model="owner.name" class="form-control" placeholder="请输入名字">
                              </div>
                           </div>
                           <div class="form-group">
                              <label class="col-md-4 control-label">電話番号</label>
                              <div class="col-md-8">
                                 <input type="text" ng-model="owner.tel" class="form-control" placeholder="请输入名字">
                              </div>
                           </div>
                           <div class="form-group">
                              <label class="col-md-4 control-label">メール</label>
                              <div class="col-md-8">
                                 <input type="text" ng-model="owner.account" class="form-control" placeholder="请输入名字">
                              </div>
                           </div>
                           <div class="form-group">
                              <label for="meetTime" class="col-md-4 control-label">中国語能力</label>
                              <div class="col-md-8">
                                 <input type="text" ng-model="owner.account" class="form-control" placeholder="feichanghao">
                              </div>
                           </div>
                           <div class="panel panel-default" style="height:120px">
                              <div class="panel-heading">
                                 皆からの評判
                              </div>
                              <div class="panel-body">
                                 <div class="row" >
                                    <div class="col-md-4">
                                       <div class="form-group">
                                       好評：{{types.good}}
                                       </div>                                    
                                    </div>
                                    <div class="col-md-4">
                                       <div class="form-group">
                                       還行：{{types.notBad}}    
                                       </div>                                
                                    </div>
                                    <div class="col-md-4">
                                       <div class="form-group">
                                       差評：{{types.bad}}
                                       </div>                                   
                                    </div>
                                    <div class="col-md-4 col-md-offset-4">
                                       <div class="form-group">
                                          <a href="#/comments" >詳しくはこちら</a>                                         
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="col-md-2">
                           身份<br>认证
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         
      </div>
      <div class="col-md-8 col-md-offset-2" ng-if="applyType==='success'">
         <div class="col-md-4">
            <div class="form-group">
               <span style="color:red">何か不明な所あるなら</span>
               <button type="button" ng-click="askQuestion()" class="btn btn-primary btn-block" >募集者に問う</button>
            </div>
         </div>
         <div class="col-md-4 col-md-offset-4">
            <div class="form-group">
               <span style="color:red">与陌生人接触时，注意保护自己</span>
               <button type="button" ng-click="applyJob()" class="btn btn-primary btn-block" >応募</button>
            </div>
         </div>
      </div>
      <div class="col-md-8 col-md-offset-2" ng-if="applyType==='no-login'">
         <div class="col-md-4">
            <div class="form-group">
               応募する前に<a href="#/login">ログイン</a> してください
            </div>
         </div>
      </div>
      <div class="col-md-8 col-md-offset-2" ng-if="applyType==='failure'">
         <div class="col-md-4">
            <div class="form-group">
               応募するには必要な認証
               <br>
              <input type="checkbox" ng-model="apply.personAuth">身元認証
              <input type="checkbox" ng-model="apply.ability">日本語能力認証<br>
              <a href="#/login">認証手続きはこちら</a>
            </div>
         </div>
      </div>     
   </form>
</div>
<div style="position:fixed; bottom: 200px; left: 50%; margin-left: 580px; width: 40px; height: 40px;" >
   <a href="#/jobs"><i class="icon-reply icon-2x"></i></a>
   <a href="#/jobs"><i class="icon-comments icon-2x"></i></a>
</div>