<div class="container">
  <form class="form-horizontal" role="form">  
    	<div class="col-md-4 col-md-offset-4" style="text-align:center">
        <div class="form-group">
          <label class="control-label" style="font-size:32px">
            スワード再設定申請
          </label>
        </div>
    		<div class="form-group">
          <input type="password" class="form-control" id="email" placeholder="新しいパスワード">
        </div>
        <div class="form-group">
          <button type="button" class="btn btn-primary btn-block" >再設定</button> 
        </div>
    </div>
  </form>
</div>