<div class="container">
	<form class="form-horizontal" role="form">
		<div class="col-md-12">
			<a href="#/question">戻す</a>
		</div>
		<div class="col-md-12">
			<div id="my-calendar"></div>
		</div>
		<br>
		<div class="row" >
			<div class="col-md-6">
				<label>
					{{strings.meetTimeAndPlace}}
				</label>
			</div>
			<div class="col-md-2">
				<label>
					仕事内容
				</label>
			</div>
			<div class="col-md-4">
				<label>
					{{strings.authCondition}}
				</label>
			</div>
		</div>
		<div class="list-group" >
			<a href="#/jobs/{{job.id}}" ng-repeat="job in jobs" class="list-group-item">
				<div class="row">
					<div class="col-md-6">
						<div class="col-md-4">
							{{job.day}}
						</div>
						<div class="col-md-2">
							{{job.time}}
						</div>
						<div class="col-md-4">
							{{job.place}}
						</div>
					</div>
					<div class="col-md-2">
						{{job.course}}元
					</div>
					<div class="col-md-4">
						{{strings.personAuth}}<span ng-if="job.personAuth" class="icon-check"></span><span ng-if="!job.personAuth" class="icon-check-empty"></span>{{strings.careerAuth}}<span ng-if="job.ability" class="icon-check"></span><span ng-if="!job.ability" class="icon-check-empty"></span>
					</div>
				</div>
			</a>
		</div>
	</form>
</div>